/* persistant app CSS */
.App {
  text-align: center;
  background-color: rgb(12, 28, 58);
  color: white;
}

.header {
  width: 100%;
  background-color: white;
  color: blue;
  display: flex;
}

.listContainer {
  display: flex;
  flex: 4;
  justify-content: end;
  list-style-type: none;
}
.listContainer li {
  flex: 1;
  font-weight: 500;
  transition: 0.2s;
}

.listContainer li:hover {
  font-size: 25px;
  border-bottom: 1px solid blue;
}

footer {
  background-color: rgb(30, 30, 31);
  color: white;
}

/*schedule CSS*/
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputDiv {
  margin: 10px;
}
#requestedDate {
  padding: 10px;
  border-radius: 10px;
}

#requestedChannel {
  padding: 10px;

  border-radius: 10px;
}
.programmesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.liveProgrammeContainer {
  border: 1px solid white;
  border-radius: 10px;
  width: 400px;
  margin: 10px;
  box-shadow: 5px 10px 10px black;
}

.channelName {
  color: white;
}

/*Homepage css*/

.liveContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.liveChannelContainer {
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  margin: 10px;
}
.channelName {
  font-size: 20px;
  font-weight: 700;
}
