/* persistant app CSS */
.App {
  text-align: center;
  background-color: rgb(12, 28, 58);
  color: white;
}

.header {
  width: 100%;
  background-color: white;
  color: blue;
  display: flex;
}

.listContainer {
  display: flex;
  flex: 4;
  justify-content: end;
  list-style-type: none;
}
.listContainer li {
  flex: 1;
  font-weight: 500;
  transition: 0.2s;
}

.listContainer li:hover {
  font-size: 25px;
  border-bottom: 1px solid blue;
}

footer {
  background-color: rgb(30, 30, 31);
  color: white;
}

/*specific schedule CSS*/
.searchContainer {
  flex: 3;
}

.tab {
  flex: 1;
  border: 2px solid snow;
  margin-left: 5px;
  text-align: center;
  margin: auto;
}

.channelsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.channelItem {
  border: 3px solid grey;
  width: 400px;
  margin: 5px;
  box-shadow: 6px 6px 3px black;
  transition: 0.3s;
  background-color: white;
}

.channelItem:hover {
  box-shadow: 6px 6px 3px black;
  border: 3px solid rgb(83, 20, 155);
}

.channelTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.iconButton {
  background-color: red;
  border: none;
  color: yellowgreen;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.channelDescription {
  color: white;
}

.programmesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.liveProgrammeContainer {
  border: 1px solid white;
  width: 400px;
  margin: 10px;
  box-shadow: 5px 10px 10px black;
}

.channelItem {
}

/*live programme CSS, Homepage*/

.liveContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.liveChannelContainer {
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 1px solid white;
}
.channelName {
  font-size: 20px;
  font-weight: 700;
}

.footerListContainer {
  list-style-type: none;
  text-decoration: none;
}
